article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: 12px;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font: 200 1em Helvetica, Arial, sans-serif;
    color: #555;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: 500;
    line-height: 1.7;
}


@media screen and (min-width: 1024px) {

    #bar {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 360px;
        height: 100vh;
    }

    article {
        position: relative;
        margin: 90px 0 90px 360px;
        padding: 0;
        width: auto;
    }

    /*sidebar layout*/
    .logo{
        margin: 90px;
    }

    nav{
        margin:0px 0px 0px 90px;
        width:180px;
    }
    nav ul{
        list-style：none;
        margin:0;
        padding:0;
    }

    nav ul li{
        list-style: none;
        background:lightgray;
        border-radius: 5px;

        display: table;
        margin:0 0 10px 0;
        padding:0;
        width:180px;
        height:60px;
    }

    nav ul li a{
        display: table-cell;
        text-align: center;
        vertical-align:middle;
    }

    #contact_aven{
        position: absolute;
        bottom: 0;
        width:180px;
        height:60px;
        margin:0 0 45px 0;
        text-align: center;
        background:lightgray;
    }

    /*content layout*/
    .content{
        position: sticky;
        margin:45px 0px 0px 0px;
    }
}

@media screen and (max-width: 1024px) {
    #bar {
        position: -webkit-sticky;
        position: sticky;
        top:0;
        background: white;
        margin: 45px;
        padding:0;
        height: 145px;
        width: auto;
        z-index:10;
    }

    article {
        position: relative;
        margin: 45px 45px 0 45px;
        padding: 0;
        width: auto;
    }


    /*sidebar layout*/

    nav{
        position: relative;
        width:470px;
        height:100px;
    }

    .logo{
        width:100px;
        height:100px;
        padding:0;
        float:right;
    }
    nav ul{
        list-style：none;
        margin:0;
        padding:0;
    }

    nav ul li{
        list-style: none;
        background:lightgray;
        border-radius: 5px;
        display: table;
        margin: 0 10px 10px 0;
        padding:0;
        width:225px;
        height:45px;
        float:left;
    }
    nav ul li a{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
    }

    /*#contact_aven{*/
        /*width:225px;*/
        /*height:45px;*/
        /*margin: 0;*/
        /*text-align: center;*/
    /*}*/

    /*content layout*/
    .content{
        background: #ffee00;
        margin:45px 0 0 0;

    }
}

.statement{
    margin: 0 20px 20px 20px;
}

.class {
    /*position: relative;*/
    display: inline-block;
    width: 270px;
    height:360px;
    margin: 0 0 10px 10px;
    padding: 0;
    background-color: lightgray;
}

.class_logo{
    position: relative;
     display: inline-block;
     width: 250px;
     height:125px;
     margin: 10px;
     padding: 0;
 }

.class_title, .class_time, .class_lan{
    display: inline-block;
    width: 250px;
    margin: 0 10px 5px 10px;
    padding: 0;
}
.class_intro{
    display: inline-block;
    background:white;
    width: 250px;
    height:125px;
    margin: 0 10px 5px 10px;
    padding: 0;
    overflow: auto;
}

.class_link{
    display: inline-block;
    width: 250px;
    margin: 0 10px 10px 10px;
    padding: 0;
}

a{
    text-decoration: none;
}

.class_link >a{
    border-radius: 1px;
    padding: 0 2px 0 2px;
    background: #ffee00;

}

.class_lan >a{
    border-radius: 1px;
    padding: 0 2px 0 2px;
    background: #ec008c;

}
/** a:link{*/
    /*background-color: #ffee00;*/
/*}*/